<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Employee Registration</title>
	<style>
		h3
		{
			margin-left: 30%;
			margin-right: 30%;
			padding: 9px;
			border: 2px solid green;
			border-radius: 25px;
			background-color: cadetblue;
			color:white;
			text-align: center;
		}
	</style>
</head>
<body>
	<h3>Register</h3>
	<form>
		<label>Employee Name</label>
		<input type="text" name=""><br/>
		<label>Employee Id</label>
		<input type="text" name=""><br/>
		<label>Employee Email</label>
		<input type="text" name=""><br/>

	</form>
</body>
</html>